@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald|Roboto');
body{
  background-color: #eee;
  color: #444;
  line-height: normal;
  font-family: "Roboto";
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

ahref{
color: #e81c4f;
font-size: 1.1em;
font-family: "Oswald";
letter-spacing: 1px;
text-decoration: none;
}

h1{
  font-family: "Oswald";
  text-align: center;
}
