		/*
		Color scheme for this website
		#FB00F3
		#E21219
		#00FFFF
		#68FF00
		#7C0FDB
		*/


		body {
			font-size: 1em;
			font-family: "Arial"; sans-serif;
			font-weight: normal;
			padding: 4em; 1em;
			color: white;
			text-align: left;
			margin: 0 auto;
			max-width: 80%;
			background-color: #7C0FDB;
			line-height: 1.5;
		}
	h1 {
		font-family: "Palatino Linotype", cursive, sans-serif;
		font-size: 1.8em;
		font-weight: bold;
		color: black;
		text-align: center;
	}
h2 {
	font-family: "Palatino Linotype", cursive, sans-serif;
	color: #00FFFF;
}
h3 {
	color: 	#7C0FDB;
}

p {
		font-family: "Palatino Linotype", cursive, sans-serif;
		color: #68FF00;
}
