@import url(<link href="https://fonts.googleapis.com/css?family=Coming+Soon|Open+Sans+Condensed:300" rel="stylesheet">)

 {
  font-family: 'Coming Soon', cursive;
   font-size: 1em;
   text-align: center;
   line-height: 100%;
   letter-spacing: 6px;
   background-color: white;
   height: 300px;
   width: 800px;
   margin: 0 auto;
 }

#Heathens {
    font-family: 'Coming Soon', cursive;
    text-align: center;
    font-size: 2.5em;
    padding-top:  0;
    padding-bottom: 0;
    text-shadow: 2em 2em white;
}

#Twenty One Pilots {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 2%;
    margin: 30px auto;

}

#lyrics {
    font-family: 'Open Sans Condensed', sans-serif;
    word-spacing: 1em;
    width: 50%;
    margin: 50em auto;
    border-top: 1em dashed black;
    border-bottom: 1em dashed black;

}
