/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

/* Do not change this style */
.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  /* Use the text-align property to left-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
}

#right_align {
  /* Use the text-align property to right-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
}

#justify {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
}

#center {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
}
